<section class="section">
    <div class="container">
        <h2 class="title is-3"><%= @type.name %> Items</h2>
        <div class="columns is-multiline">
            <%= render partial: 'items/item', collection: @items %>
            <%= paginate @items %>
        </div>
    </div>
</section>
