<div class="splash">
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <h2 class="title is-1">Welcome to Nook's eCranny!</h2>
                    <p class="title is-4">Your one stop shop for all islanding goods</p>
                    <%= link_to 'Start Shopping', items_path, class: 'button is-danger' %>
                </div>
                <div class="column">
                    <%= image_tag('tommycart') %>
                </div>
            </div>
        </div>
    </section>
</div>