<section class="section">
    <div class="container">
        <h2 class="title is-3"><%= @tag.name %> Items</h2>
        <div class="columns is-multiline">
            <%= render partial: 'items/item', collection: @items %>
            <div class="column is-3"><%= paginate @items %></div>
        </div>
    </div>
</section>
