<div class="column is-3">
  <%= link_to(item) do %>
    <div class="card equal-height">
      <div class="card-image">
        <figure class="image is-500x500">
          <img src="<%= ItemVariant.find_by(item: item).image %>">
        </figure>
      </div>
      <div class="card-content">
        <p class="title is-4">
          <%= link_to item.name.titleize, item %>
        </p>
      </div>
      <div class="card-footer">
        <p><%= item.price %> bells</p>
      </div>
    </div>
  <% end %>
</div>