<section class="section">
    <div class="container">
        <h2 class="title is-3"><%= @search ? "#{@type.name unless @type_id == 0} Items found for '#{@search_term}':" : "All Items" %></h2>
        <div class="columns is-multiline">
            <%= render partial: 'item', collection: @items %>
            <%= will_paginate @items %>
        </div>
    </div>
</section>