@import url('https://fonts.googleapis.com/css2?family=Lato&family=McLaren&display=swap');

$font-main: 'Lato', sans-serif;
$font-display: 'McLaren', sans-serif;


$light-green:       #9DFFB0;
$light-blue:        #AFE8DF;
$dark-blue:         #434496;
$white:             #FAFAFA;
$off-white:         #F2F1EC;
$orange:            #C48D3F;
$yellow:            #FFF563;
$bright-yellow:     #F8D904;
$red:               #FF3541;
$brown:             #533500;