@use '_variables.scss';

body {
    font-family: $font-main;
    background: $off-white;
}

.navbar {
    background: lighten($light-blue, 10%);
    .header-title {
        font-size: 2em;
        font-family: $font-display;
        font-weight: bold;
        color: $dark-blue;
            &:hover {
                color: lighten($dark-blue, 20%);
            }
    }
    img{
        max-width: 75px;
        max-height: 75px;
    }
}

.button.is-danger{
    background-color: $red;

    &:hover {
        background-color: lighten($red, 5%);
    }
}

.non-hoverable {
    &:hover{
        background: lighten($light-blue, 10%);
    }
}

header, footer, .splash {
    width: 100%;
}

.splash{
    background: $light-blue;
}

figure {
    display: inline-block;
}

footer {
    font-size: 0.8em;
    background: $dark-blue;
    bottom: 0;
    padding: 0;

    img {
        max-height: 150px;
    }

    ul {
        width: 70%;
        margin: 0 auto;
    }

    li {
        color: $red;

        a {
            color: $off-white;

            &:hover{
                color: $red;
            }
        }
    }

    .credits li {
        color: $off-white;
    }

    .heading{
        display: block;
        width: 70%;
        margin: 0 auto;
        color: $off-white;
        font-size: 1.2em;
    }

    .section {
        padding: 0;
    }
}

a {
    color: $red;
}

.pagination {
    .page {
        padding: 5px;
    }
}

hr {
    border: 1px solid $dark-blue;
}

.total {
    border-top: 1px solid $dark-blue;
}

input[type=text], input[type=email], input[type=password], select {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid $dark-blue;
    border-radius: 4px;
    box-sizing: border-box;
}

.button.with-margin {
    margin-top: 8px;
}

input[type=submit] {
    margin-top: 8px;
}