@use '_variables.scss';

body {
    font-family: $font-main;
    background: $off-white;
}

header, footer, .splash {
    width: 100%;
}

header{
    background: $off-white;
    h1 {
        font-family: $font-display;
        display: inline-block;
        padding: 70px 0;
        a {
            color: $dark-blue;

            &:hover {
                color: lighten($dark-blue, 20%);
            }
        }
    }
    .section {
        padding: 0;
    }

    .links {
        text-align: center;
    }
}

.splash{
    background: $light-blue;
}

footer {
    font-size: 0.8em;
    background: $dark-blue;
    bottom: 0;
    padding: 0;

    img {
        max-height: 150px;
    }

    ul {
        width: 70%;
        margin: 0 auto;
    }

    li {
        color: $off-white;
    }

    .heading{
        display: block;
        width: 70%;
        margin: 0 auto;
        color: $off-white;
        font-size: 1.2em;
    }

    .section {
        padding: 0;
    }
}

a {
    color: $red;
}