// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// .card {
//     height: 100%;
// }

.equal-height{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-footer {
  background: $light-blue;
  margin-top: auto;
  padding: 12px;
}