<footer>
    <section class="section">
    <div class="container">
        <div class="columns">
        <div class="column">
            <p class="heading">Customer Service</p>
            <ul>
            <li>Help & Support</li>
            <li>About Us</li>
            <li>Contact Us</li>
            <li>Feedback</li>
            <li>Return Policy</li>
            </ul>
        </div>
        <div class="column">
        <p class="heading">Nook Shopping</p>
            <ul>
            <li>Shop</li>
            <li>View Your Account</li>
            <li>Drop Off Box</li>
            <li>DIY Recipes</li>
            <li>Catalogue</li>
            </ul>
        </div>
        <div class="column">
        <p class="heading">Credits</p>
            <ul>
            <li>Nook Inc.</li>
            <li>All Rights Reserved</li>
            <li>Inspired by:</li>
            <li>/u/wallflower_</li>
            </ul>
        </div>
        <div class="column">
            <%= image_tag('timmytommyicon.png') %>
        </div>
        </div>
    </div>
    </section>
</footer>